
body{
background-image: url('../img/portada.jpg');
background-size: cover;
background-repeat: space;
color: #fff;
}

input{
	border-style: outset solid;
	border-radius: 10px;
	box-shadow: 0px 0px 2px 2px;
	padding: 5px;
	margin-top: 10px;
	color: #fff;
}

#Entrada{
	text-align: center;
	cursor: pointer;
}

form{
	background: rgba(255, 255, 255, 0.0	);
}
